/*-- notifybar.css
--------------------*/
#notifybar_push{position:relative;}
.notifybar_push{position:relative;display:none;}
#notifybar a{outline:none;}
#notifybar{display: block; left: 0;position: fixed;width: 100%;z-index: 2147483647;}
#notifybar .notifybar_topsec{box-shadow: 0 0 3px #000000;width:100%;height:45px;border-bottom:3px solid #fff;}
#notifybar .notifybar_topsec  .notifybar_center{display: block;margin: 0 auto;padding-top: 8px;padding-top: 7px\9;text-align: center;color:#fafafa}
#notifybar .notifybar_topsec .notifybar_center  .notifybar_block{margin:5px;display:inline;}
#nbar_downArr.notifybar_botsec{z-index: 999999;width:35px;height:76px;background-image:url("../images/down_arrow.png");border-radius:0px 0px 5px 5px;border-style: solid;border-color: #FFFFFF;border-width: 3px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);display:none;position: fixed;right: 0!important;padding:0;outline:none;}
#nbar_downArr.notifybar_botsec:hover{opacity:0.8;filter:alpha(opacity = 80);}
#notifybar  a.notifybar_close{border:0;background-image: url("../images/sprite.png");background-position: 0 58px;height:19px;position: absolute;right: 10px;top: 13px;width: 18px;z-index: 999999;}
#notifybar  a.notifybar_close:hover {background-position: 0 77px;}
#notifybar a.notifybar_button{border: 2px solid #FFFFFF;color: #FFFFFF;font-family: verdana;font-size: 12px;font-weight: bold;padding: 6px 20px;text-decoration: none;text-transform: uppercase;border-radius: 20px 20px 20px 20px;line-height:30px;}
#notifybar a.nb_fromthis{ display: block;left: 7px;position: absolute;top: 7px;}