/*-- Notification Bar Admin Style
------------------------------------------------------*/
#notifybar_admin {width: 440px;margin-top: 5px;}
#notifybar_admin table{width:500px;}
#notifybar_admin table tr td{padding:5px 0;}
#notifybar_admin .desc{display: block;font-size: 14px;font-weight: bold;margin-bottom: 10px;}
#notifybar_admin table input[type="text"],#notifybar_admin table textarea{width: 260px;}
#notifybar_admin input[type="submit"]{margin-top:10px;}
#notifybar_admin select{width:95px;}
.notifybar_iframe{background: none repeat scroll 0 0 transparent; border: 1px solid #CCCCCC; border-radius: 3px 3px 3px 3px; left: 442px; padding: 3px; position: absolute; top: 15px;} 	
#notifybar_admin .notifybar_colwrap{position:relative;width:120px;}	
#notifybar_admin .notifybar_colwrap .notifybar_color_inp{border: 0 none; height: 22px; width: 100px;} 	
#notifybar_admin .notifybar_colsel{background: url("../images/color_pick.png") repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; height: 22px; margin-top: 1px; position: absolute; right: -3px; top: 0; width: 22px; } 
#notifybar_admin .notifybar_colsel .farbtastic{display:none;position:absolute;top:8px;z-index:1;}

.nbarlite-wrapper #wp_banner.nbar-lite{
    background: url("../images/banner.jpg") no-repeat scroll center center transparent;
    border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    height: 131px;
    margin: 10px 0;
    padding: 1px;
    width: 696px;
}

.nbarlite-wrapper #wp_banner.nbar-lite #mc-embedded-subscribe-form{
    margin: 0 0 0 176px;
    padding: 0;
}

.nbarlite-wrapper #wp_banner.nbar-lite #mc_embed_signup .mc-field-group{
    min-height: 45px;
    padding-bottom: 0;
    width: 100%;
}

.nbarlite-wrapper #wp_banner.nbar-lite #mc_embed_signup .mc-field-group input[type='email']{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #777777;
	display: block;
	float: left;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	margin-top: 6px;
	padding: 8px 0;
	text-indent: 2%;
	width: 340px;
	border-radius:0;
}
.nbarlite-wrapper #wp_banner.nbar-lite #mc_embed_signup .mc-field-group input[type='submit']{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: none;
    float: left;
    margin: 6px 0 0 20px;
    width: 141px;
	border-radius:0;
}

.nbarlite-wrapper #wp_banner.nbar-lite .bot_section{
	width:100%;
	height:86px;
}

.nbarlite-wrapper #wp_banner.nbar-lite .bot_section a{
	float:left;
	display:block;
	width:45px;
	height:45px;
	margin-top: 15px;
}

.nbarlite-wrapper #wp_banner.nbar-lite .bot_section a.wplogo{
    height: 70px;
    margin-left: 271px;
    width: 150px;
}
.nbarlite-wrapper #wp_banner.nbar-lite .bot_section a.fbicon{
    margin-left: 138px;
}
.nbarlite-wrapper #wp_banner.nbar-lite .bot_section a.twicon{
	margin-left:15px;
}