/*-- Notification Bar Admin Style
------------------------------------------------------*/
#notifybar_admin {width: 430px;margin-top: 5px;}
#notifybar_admin table{width:500px;}
#notifybar_admin table tr td{padding:5px 0;}
#notifybar_admin .desc{display: block;font-size: 14px;font-weight: bold;margin-bottom: 10px;}
#notifybar_admin table input[type="text"],#notifybar_admin table textarea{width: 260px;}
#notifybar_admin input[type="submit"]{margin-top:10px;}
#notifybar_admin select{width:95px;}
.notifybar_iframe{left: 630px;position: fixed;top: 89px;}